<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Last.fm_Scrubbler_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <Last.fm_Scrubbler_WPF.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="ITunesAutoConnect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ArtistFieldIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AlbumFieldIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TrackFieldIndex" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TimestampFieldIndex" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="AlbumArtistFieldIndex" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="DurationFieldIndex" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="SpotifyAutoConnect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoScrobbleCache" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CSVDelimiters" serializeAs="String">
        <value>,</value>
      </setting>
    </Last.fm_Scrubbler_WPF.Properties.Settings>
  </userSettings>
  <system.net>
    <defaultProxy>
      <bypasslist>
        <add address="last.fm" />
      </bypasslist>
    </defaultProxy>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
