<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Scrubbler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <userSettings>
    <Scrubbler.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="ITunesAutoConnect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ArtistFieldIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AlbumFieldIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TrackFieldIndex" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TimestampFieldIndex" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="AlbumArtistFieldIndex" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="DurationFieldIndex" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="SpotifyAutoConnect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoScrobbleCache" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CSVDelimiters" serializeAs="String">
        <value>,</value>
      </setting>
      <setting name="MinimizeToTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartupUpdateCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CSVEncoding" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CSVHasFieldsInQuotes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseRichPresenceITunes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="JSONTrackNameProperty" serializeAs="String">
        <value>master_metadata_track_name</value>
      </setting>
      <setting name="JSONArtistNameProperty" serializeAs="String">
        <value>master_metadata_album_artist_name</value>
      </setting>
      <setting name="JSONAlbumNameProperty" serializeAs="String">
        <value>master_metadata_album_album_name</value>
      </setting>
      <setting name="JSONAlbumArtistNameProperty" serializeAs="String">
        <value>albumArtist</value>
      </setting>
      <setting name="JSONTimestampProperty" serializeAs="String">
        <value>ts</value>
      </setting>
      <setting name="JSONDurationProperty" serializeAs="String">
        <value>duration</value>
      </setting>
      <setting name="FirstStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="JSONMillisecondsPlayedProperty" serializeAs="String">
        <value>ms_played</value>
      </setting>
      <setting name="JSONFilterShortPlayedSongs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="JSONPlayedMillisecondsThreshold" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="CSVMillisecondsPlayedFieldIndex" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="CSVFilterShortPlayedSongs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CSVPlayedMillisecondsThreshold" serializeAs="String">
        <value>1000</value>
      </setting>
    </Scrubbler.Properties.Settings>
  </userSettings>
  <system.net>
    <defaultProxy>
      <bypasslist>
        <add address="last.fm" />
      </bypasslist>
    </defaultProxy>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.15.0.0" newVersion="106.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.11.121" newVersion="1.1.11.121" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.batteries_v2" publicKeyToken="8226ea5df37bcae9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.11.121" newVersion="1.1.11.121" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
