<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.2.0" targetFramework="net452" />
  <package id="Inflatable.Lastfm" version="1.0.1.307" targetFramework="net452" />
  <package id="Inflatable.Lastfm.SQLite" version="0.2.0.211" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="SpotifyAPI-NET" version="2.17.0" targetFramework="net452" />
  <package id="sqlite-net-pcl" version="1.0.11" targetFramework="net452" />
  <package id="SQLitePCL.raw_basic" version="0.7.1" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="net452" />
  <package id="taglib" version="2.1.0.0" targetFramework="net452" />
</packages>