<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="4.0.0-alpha.1" targetFramework="net461" />
  <package id="Caliburn.Micro.Core" version="4.0.0-alpha.1" targetFramework="net461" />
  <package id="ComposableAsync.Core" version="1.1.0" targetFramework="net461" />
  <package id="DiscogsClient" version="2.5.1" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net461" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net461" />
  <package id="Inflatable.Lastfm" version="1.1.999-prerelease" targetFramework="net461" />
  <package id="Inflatable.Lastfm.SQLite" version="1.1.999-prerelease" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="Octokit" version="0.32.0" targetFramework="net461" />
  <package id="RateLimiter" version="2.1.0" targetFramework="net461" />
  <package id="RestSharp" version="106.6.10" targetFramework="net461" />
  <package id="RestSharpHelper" version="1.1.1" targetFramework="net461" />
  <package id="SpotifyAPI-NET" version="2.19.0" targetFramework="net461" />
  <package id="sqlite-net-pcl" version="1.4.118" targetFramework="net461" />
  <package id="SQLitePCL.raw_basic" version="0.9.0-pre8" targetFramework="net461" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.11" targetFramework="net461" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.11" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Reactive" version="4.2.0-preview.566" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0-preview7.19362.9" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0-preview.18571.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="taglib" version="2.1.0.0" targetFramework="net452" />
</packages>